<div ng-disabled="vm().provider.status.loading">
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_version" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_versionLabel">Version:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_versionDescription">Which release</localize>
            </small>
        </label>
        <div class="controls">
            <select id="terratype_{{identifier}}_bingmapsv8_version" ng-model="config().provider.version" class="umb-editor" ng-change="vm().provider.events.versionChange()">
                <option value="experimental" terratype-translate="@terratypeBingMapsV8ConfigDefinition_versionExperimental"></option>
                <option value="release" terratype-translate="@terratypeBingMapsV8ConfigDefinition_versionRelease"></option>
                <option value="frozen" terratype-translate="@terratypeBingMapsV8ConfigDefinition_versionFrozen"></option>
            </select>
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_apikey" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_apiKeyLabel">Bing API Key:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_apiKeyDescription">Your Bing API Key</localize>
            </small>
        </label>
        <div class="controls">
            <input id="terratype_{{identifier}}_bingmapsv8_apikey" list="terratype_{{identifier}}_bingmapsv8_apikeys" type="text" ng-model="config().provider.apiKey" class="umb-editor umb-textstring textstring" localize="placeholder" placeholder="@terratypeBingMapsV8ConfigDefinition_apiKeyPlaceholder" spellcheck="false" ng-change="vm().status.reload = true" />
            <datalist id="terratype_{{identifier}}_bingmapsv8_apikeys">
                <option ng-repeat="x in vm().provider.events.httpCalls.apiKey.values" value="{{x}}"></option>
            </datalist>
            <div>
                <div>
                    <a href="https://msdn.microsoft.com/en-us/library/gg650598.aspx" target="_blank" style="font-size:smaller;">
                        <localize key="terratypeBingMapsV8ConfigDefinition_apiKeyGet">[Get a key]</localize>
                    </a>
                </div>
                <div>
                    <div ng-show="vm().status.loading">
                        <img ng-src="{{terratype.images.loading}}" />
                    </div>
                    <div ng-show="vm().status.failed">
                        <img ng-src="{{terratype.images.failed}}" />
                        <span style="color:red;padding-right:10px;"><localize key="terratypeBingMapsV8ConfigDefinition_apiKeyInvalid">Invalid API Key</localize></span>
                    </div>
                    <div ng-show="vm().status.success">
                        <img ng-src="{{terratype.images.success}}" />
                        <span style="color:green;"><localize key="terratypeBingMapsV8ConfigDefinition_apiKeyValid">API Key is valid</localize></span>
                    </div>
                    <div ng-show="vm().status.reload">
                        <button type="button" ng-click="vm().provider.events.reload()" localize="title" title="@terratypeBingMapsV8ConfigDefinition_retryTitle"><localize key="terratypeBingMapsV8ConfigDefinition_retryLabel">Retry</localize></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_forcehttps" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_httpsLabel">Force Https:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_httpsDescription">Force all Bing Map requests to use HTTPS protocol, even if the Umbraco instance is running on HTTP. Only relevant when Umbraco is running on HTTP</localize>
            </small>
        </label>
        <div class="controls">
            <input id="terratype_{{identifier}}_bingmapsv8_forcehttps" type="checkbox" ng-model="config().provider.forceHttps" ng-change="vm().provider.events.forceHttpsChange()" />
        </div>
    </div>
    <div class="umb-el-wrap control-group">
        <label for="terratype_{{identifier}}_bingmapsv8_language" class="control-label">
            <localize key="terratypeBingMapsV8ConfigDefinition_languageLabel">Language:</localize>
            <small>
                <localize key="terratypeBingMapsV8ConfigDefinition_languageDescription">Primary language used to display places</localize>
            </small>
        </label>
        <div class="controls">
            <select id="terratype_{{identifier}}_bingmapsv8_language" ng-model="config().provider.language" class="umb-editor" ng-change="vm().provider.events.languageChange()">
                <option value=""><localize key="terratypeBingMapsV8ConfigDefinition_languageUseDefault">[Use Umbraco]</localize></option>
                <option value="ar-EG"><localize key="terratypeBingMapsV8ConfigDefinition_languageAR">Arabic (العربية)</localize></option>
                <option value="eu-ES"><localize key="terratypeBingMapsV8ConfigDefinition_languageEU">Basque (euskara, euskera)</localize></option>
                <option value="ca-ES"><localize key="terratypeBingMapsV8ConfigDefinition_languageCA">Catalan (català)</localize></option>
                <option value="zh-CN"><localize key="terratypeBingMapsV8ConfigDefinition_languageZH">Chinese (中文, 汉语, 漢語)</localize></option>
                <option value="da-DK"><localize key="terratypeBingMapsV8ConfigDefinition_languageDA">Danish (dansk)</localize></option>
                <option value="nl-NL"><localize key="terratypeBingMapsV8ConfigDefinition_languageNL">Dutch (Nederlands, Vlaams)</localize></option>
                <option value="en-US"><localize key="terratypeBingMapsV8ConfigDefinition_languageEN">English (English)</localize></option>
                <option value="fi-FI"><localize key="terratypeBingMapsV8ConfigDefinition_languageFI">Finnish (suomi, suomen kieli)</localize></option>
                <option value="fr-FR"><localize key="terratypeBingMapsV8ConfigDefinition_languageFR">French (français)</localize></option>
                <option value="gl-ES"><localize key="terratypeBingMapsV8ConfigDefinition_languageGL">Galician (galego)</localize></option>
                <option value="de-DE"><localize key="terratypeBingMapsV8ConfigDefinition_languageDE">German (Deutsch)</localize></option>
                <option value="it-IT"><localize key="terratypeBingMapsV8ConfigDefinition_languageIT">Italian (Italiano)</localize></option>
                <option value="ja-JP"><localize key="terratypeBingMapsV8ConfigDefinition_languageJA">Japanese (日本語 (にほんご))</localize></option>
                <option value="ko-KR"><localize key="terratypeBingMapsV8ConfigDefinition_languageKO">Korean (한국어)</localize></option>
                <option value="nb-NO"><localize key="terratypeBingMapsV8ConfigDefinition_languageNB">Norwegian Bokmål (Norsk bokmål)</localize></option>
                <option value="pl-PL"><localize key="terratypeBingMapsV8ConfigDefinition_languagePL">Polish (język polski, polszczyzna)</localize></option>
                <option value="pt-BR"><localize key="terratypeBingMapsV8ConfigDefinition_languagePT">Portuguese (Português)</localize></option>
                <option value="ru-RU"><localize key="terratypeBingMapsV8ConfigDefinition_languageRU">Russian (Русский)</localize></option>
                <option value="es-MX"><localize key="terratypeBingMapsV8ConfigDefinition_languageES">Spanish (Español)</localize></option>
                <option value="sv-SE"><localize key="terratypeBingMapsV8ConfigDefinition_languageSV">Swedish (svenska)</localize></option>
                <option value="tr-TR"><localize key="terratypeBingMapsV8ConfigDefinition_languageTR">Turkish (Türkçe)</localize></option>
            </select>
        </div>
    </div>
</div>
