<div style="overflow:hidden;">
    <style ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map {height:' + config().height + 'px;} #terratype_' + identifier + '_bingmapsv8_map .switchSlot.labelToggle {display:none;}'">
    </style>
    <style ng-if="config().provider.variety.basic == false || (config().provider.variety.basic == true && config().provider.predefineStyling == 'ordnanceSurvey')" 
           ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map .slot.road {display:none;}'">
    </style>
    <style ng-if="config().provider.variety.basic == false || (config().provider.variety.basic == true && config().provider.predefineStyling != 'ordnanceSurvey')"
           ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map .slot.ordnanceSurvey {display:none;}'">
    </style>
    <style ng-if="config().provider.variety.satellite == false" ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map .slot.aerial {display:none;}'">
    </style>
    <style ng-if="config().provider.variety.streetView == false" ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map .slot.streetside {display:none;}'">
    </style>
    <div ng-if="config().provider.variety.basic == false && config().provider.variety.satellite == false && config().provider.variety.streetView == true">
        <style ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map .streetsideExit {display:none;}'">
        </style>
        <style ng-if="config().provider.breadcrumb.enable == false" ng-bind-html="'#terratype_' + identifier + '_bingmapsv8_map .streetsideText {display:none;}'"></style>
    </div>
    <div ng-style="{'height':config().height + 'px'}">
        <div id="terratype_{{identifier}}_bingmapsv8_map" ng-show="vm().showMap">
        </div>
    </div>
</div>
