@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">

        @Umbraco.RenderMacro("latestBlogposts",
            new
            {
                numberOfPosts = Model.HowManyPostsShouldBeShown,
                startNodeId = Model.Id
            })
       
    </div>

</section>