@inherits Umbraco.Web.Common.AspNetCore.UmbracoViewPage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web.Website
@inject UmbracoHelper Umbraco
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">
        @Umbraco.RenderMacro("latestBlogposts",
            new
            {
                numberOfPosts = Model.HowManyPostsShouldBeShown,
                startNodeId = Model.Id
            })
    </div>

</section>