<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Umbraco Nightly" value="https://www.myget.org/F/umbraconightly/api/v2" />
    <add key="Umbraco Prereleases" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- Ensure all packages are pulled from NuGet by default -->
    <packageSource key="nuget">
      <package pattern="*" />     
    </packageSource>
    <packageSource key="Umbraco Prereleases">
      <package pattern="Umbraco.*" />
    </packageSource>
    <packageSource key="Umbraco Nightly">
      <package pattern="Umbraco.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
