@using Umbraco.Forms.Mvc
@using Umbraco.Web.Composing
@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{
    var configuration = Current.Factory.GetInstance<Umbraco.Forms.Core.IFacadeConfiguration>();
    var siteKey = configuration.GetSetting("RecaptchaV3SiteKey");

    if (!string.IsNullOrEmpty(siteKey))
    {
        @* Google JS reCAPTHA API *@
        Html.AddFormThemeScriptFile(null, "https://www.google.com/recaptcha/api.js?render=" + siteKey);

        @* Hidden Field to store token from invisible reCAPTCHA *@
        <input type="hidden" id="@Model.Id" name="g-recaptcha-response" />

        <script type="application/javascript">
            (function (window, document) {
                var hiddenField = document.getElementById('@Model.Id');
                var timerFunction = function () {
                    window.grecaptcha.execute('@siteKey', { action: 'umbracoform_submit' }).then(function (token) {
                        // Enable the submit button now we have a token
                        hiddenField.form.querySelector('[type=submit]').removeAttribute('disabled');
                        hiddenField.value = token;
                    });
                    setTimeout(timerFunction, 60*1000);
                };

                document.addEventListener('DOMContentLoaded', function () {
                    // Disable the submit button for this form, until we actually have a key from Google reCAPTCHA
                    hiddenField.form.querySelector('[type=submit]').setAttribute('disabled','disabled');

                    window.grecaptcha.ready(function () {
                        timerFunction();
                    });
                });
            })(window, document);
        </script>
    }
    else
    {
        <p class="error">ERROR: reCAPTCHA v3 is missing the Site Key - Please update the UmbracoForms.config file to include 'key="RecaptchaV3SiteKey"'</p>
    }
}
