<div>
    <ul ui-sortable ng-model="prevalues" class="unstyled list-icons">
        <li ng-repeat="prevalue in prevalues">
            <i class="icon icon-navigation handle"></i>
            {{prevalue}}
            <a ng-click="deletePrevalue($index)" title="Delete"><i class="icon-trash"></i></a>
        </li>
    </ul>

    <form ng-submit="addPrevalue()">
        <input type="text" ng-model="newPrevalue" size="30" placeholder="Add new prevalue here">
        <input class="btn" type="submit" value="Add">
    </form>
</div>
