<div class="cell-tools-menu"
    ng-style="overlayMenu.style"
    uf-delayed-mouseleave="closeItemOverlay()">

     <h5>Form fields</h5>

     <ul class="elements">
        <li ng-repeat="fieldType in fieldtypes">
            <a ng-click="addField(overlayMenu.container, fieldType, overlayMenu.index)" href>
                <i class="icon {{fieldType.icon}}"></i>
                {{fieldType.name}}</a>
        </li>
     </ul>

     <h5>Layout elements</h5>
     <ul class="elements">
        <li>
            <a ng-click="addPage(form)" href>
                <i class="icon icon-document"></i>
                Page</a>
        </li>

        <li>
            <a ng-click="addFieldset(form.$currentPage, overlayMenu.fieldset, overlayMenu.container, overlayMenu.index)" href>
            <i class="icon icon-list"></i>
            Row</a>
        </li>

        <li><a ng-click="addContainer(overlayMenu.fieldset, overlayMenu.container, overlayMenu.index)" href>
            <i class="icon icon-columns"></i>
            Column</a></li>
     </ul>
</div>