<div class="umb-panel" ng-controller="UmbracoForms.Editors.Form.EntriesSettingsController">
	<div class="umb-panel-body no-header with-footer">

	<div class="umb-forms-settings">
	    <div class="umb-pane">

           <!--<div class="form-group">
                <h5>Fields</h5>
                <ul class="unstyled">
                      <li ng-repeat="field in dialogOptions.schema track by $index">
                          <label class="checkbox"><input
                              type="checkbox"
                              ng-checked="dialogOptions.hiddenFields.indexOf($index) === -1"
                              ng-click="dialogOptions.toggle($index)"> {{field.name}}
                          </label>
                      </li>
                </ul>
            </div>--> 

            <div class="form-group">
                <h5>Export</h5>
				<p>Choose a format to export form records to</p>
				
                <ul class="unstyled list-icons">
                    <li ng-repeat="exportType in exportTypes">
					    <i class="icon {{exportType.icon}}"></i>
						<a href ng-click="export(exportType, dialogOptions.filter)">
                            {{exportType.name}}
							<br/><small>{{exportType.description}}</small>
                        </a>
                    </li>
                </ul>
            </div>

	    </div>
	</div>

	</div>

	<div class="umb-panel-footer">
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">
	        	<a href="" ng-click="close()" class="btn btn-primary">
	        		Done
				</a>
	        </div>
		</div>
	</div>
</div>
