<div ng-controller="UmbracoForms.FormPickerOverlayController as vm">

    <umb-load-indicator
        ng-if="vm.loading">
    </umb-load-indicator>

    <!-- FILTER -->
	<div class="umb-control-group -no-border">
		<div class="form-search">
			<i class="icon-search"></i>
			<input type="text"
				class="-full-width-input"
				ng-model="vm.filterTerm"
				class="umb-search-field search-query search-input input-block-level"
				localize="placeholder"
	            placeholder="@placeholders_filter"
				umb-auto-focus>
		</div>
	</div>

    <ul class="umb-actions umb-actions-child">
        <li ng-repeat="form in vm.forms | orderBy:'name' | filter:vm.filterTerm"
            ng-click="vm.pickForm(form, $index)">
            <a href="" title="{{ form.name }}">
                <i ng-if="!form.selected" class="icon-umb-contour" style="display: inline-block;"></i>
                <i ng-if="form.selected" class="icon-check color-green" style="font-size: 22px; display: inline-block;"></i>
                <span class="menu-label">
                    {{form.name}}
                    <small>{{form.fields}} </small>
                </span>
            </a>
        </li>
    </ul>

    <div ng-if="vm.error" class="alert alert-warning">
        {{ error }}
    </div>

</div>