<div class="umb-panel" ng-controller="UmbracoForms.Editors.DataSource.WizardController">
    <div class="umb-panel-body no-header with-footer">

        <h4>Create form</h4>
        <div ng-if="currentStep == 1">
            <label>Form Name:</label>
            <input type="text" ng-model="wizard.formName" />
            <br />
            <a class="btn" ng-click="gotoStep(2)">Next</a>
        </div>

        <div ng-if="currentStep == 2">
            <h5>Select fields</h5>
            <small>Fields from the datasource you wish to include in the form.</small>
            <!-- step 2 select fields-->
            <div>
                <ul>
                    <li ng-repeat="mapping in wizard.mappings" ng-hide="mapping.isPrimaryKey">
                        <input type="checkbox" ng-model="mapping.include" ng-disabled="mapping.isMandatory" />
                        {{mapping.name}}
                    </li>
                </ul>
            </div>

            <a class="btn" ng-click="gotoStep(1)">Previous</a>
            <a class="btn" ng-click="gotoThirdStep()">Next</a>
        </div>

        <div ng-if="currentStep == 3">
            <!-- step 3 foreign keys -->
            <h5>Setup foreign keys</h5>
            <small>Select the value column for foreign key fields</small>
            <div>
                <ul>
                    <li ng-repeat="mapping in wizard.mappings | filter:{prevalueKeyField: '!!'}" ng-show="mapping.include">
                        {{mapping.name}}
                        <select ng-model="mapping.prevalueValueField" ng-options="field for field in mapping.availablePrevalueValueFields"></select>
                    </li>
                </ul>
            </div>

            <a class="btn" ng-click="gotoStep(2)">Previous</a>
            <a class="btn" ng-click="gotoStep(4)">Next</a>
        </div>

        <div ng-if="currentStep == 4">
            <!-- step 4 select type -->
            <h5>Select type</h5>
            <small>Field type you wish to use for the included fields (or default value)</small>
            <div>
                <ul>
                    <li ng-repeat="mapping in wizard.mappings" ng-show="mapping.include">
                        {{mapping.name}}
                        <select ng-model="mapping.fieldTypeId" ng-options="fieldtype.id as fieldtype.name for fieldtype in fieldtypes"></select>
                        or
                        <input type="text" ng-model="mapping.defaultValue" placeholder="enter default value" />
                    </li>
                </ul>
            </div>

            <a class="btn" ng-click="goBackToThirdStep()">Previous</a>

            <a ng-click="createForm()" class="btn btn-primary">Create Form</a>
        </div>
    </div>
</div>
