
<div class="umb-forms-designer usky-grid">
    <div class="tb">




        <div class="umb-forms-placeholder" ng-show="form.datasource !== null">

            <div class="help-text" style="margin-bottom: 15px">This form is linked to a datasource so you only have limited editing possibilities </div>
        </div>

        <div class="umb-forms-page"

             ng-mouseenter="showPageTools = true"
             ng-mouseleave="showPageTools = false">

            <input type="text"
                   class="inline-editor page-name"
                   ng-model="form.$currentPage.caption"
                   placeholder="Enter a page caption...">

            <div class="page-tools row-tools"
                 ng-if="form.pages.length > 1 && showPageTools"
                 ng-animate="'fade'">

                <!-- delete page -->
                <div class="cell-tools-remove">
                    <div class="iconBox"
                         ng-click="deletePrompt = true"
                         ng-mouseenter="setCurrentRemoveControl(page)"
                         ng-mouseleave="setCurrentRemoveControl(null)">

                        <span ng-if="deletePrompt">
                            Are you sure?
                            <a href style="text-decoration: underline" ng-click="deletePage(form.$currentPage)">Yes</a>
                        </span>

                        <i ng-if="!deletePrompt" class="icon icon-trash"></i>
                    </div>
                </div>
            </div>

            <div class="umb-forms-fieldsets tr"
                 ui-sortable="fieldSetSortableOptions"
                 ng-model="form.$currentPage.fieldSets">

                <div class="umb-forms-fieldset usky-row"
                     ng-mouseenter="setCurrentFieldset(fieldset)"
                     ng-mouseleave="setCurrentFieldset(null)"
                     ng-class="{warnhighlight:currentRemoveControl == fieldset,
                                defaulthighlight: currentFieldset == fieldset && currentControl == null}"
                     ng-repeat="fieldset in form.$currentPage.fieldSets">

                    <!-- tools -->
                    <div class="fieldset-tools row-tools"
                         ng-if="currentFieldset == fieldset && !currentControl"
                         ng-animate="'fade'">

                        <!-- edit control settings -->
                        <div class="cell-tools-edit">
                            <div class="iconBox"
                                 ng-click="editFieldset(fieldset)">
                                <i class="icon icon-settings"></i>
                            </div>
                        </div>
                        <!-- move control -->
                        <div class="cell-tools-move">
                            <div class="iconBox"
                                 ng-mouseenter="setCurrentMoveControl(fieldset)"
                                 ng-mouseleave="setCurrentMoveControl(null)">
                                <i class="icon icon-navigation"></i>
                            </div>
                        </div>
                        <!-- delete fieldset -->
                        <div class="cell-tools-remove">
                            <div class="iconBox"
                                 ng-click="deletePrompt = true"
                                 ng-mouseenter="setCurrentRemoveControl(fieldset)"
                                 ng-mouseleave="setCurrentRemoveControl(null)">

                                <span ng-if="deletePrompt">
                                    Are you sure?
                                    <a href style="text-decoration: underline" ng-click="deleteFieldset(form.$currentPage,fieldset)">Yes</a>
                                </span>

                                <i ng-if="!deletePrompt" class="icon icon-trash"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mainContainer form usky-row-inner"
                         ng-class="{last:$last,first:$first}">

                        <div class="mainTb">
                            <div class="tb">
                                <div class="tr">

                                    <div class="umb-forms-containers td mainTd usky-cell"
                                         ng-class="{last:$last,first:$first}"
                                         style="width:{{ container.$percentage }}%"
                                         ng-mouseenter="setCurrentContainer(container)"
                                         ng-mouseleave="setCurrentContainer(null)"
                                         ng-repeat="container in fieldset.containers">

                                        <div class="umb-forms-fields">

                                            <div class="umb-forms-fields-container"
                                                 ui-sortable="fieldSortableOptions"
                                                 ng-model="container.fields">

                                                <div ng-repeat="field in container.fields"
                                                     ng-class="{last:$last}"
                                                     ng-mouseenter="setCurrentControl(field)"
                                                     ng-mouseleave="setCurrentControl(null)"
                                                     class="umb-forms-field usky-control">

                                                    <!-- editor tools -->
                                                    <div class="cell-tools"
                                                         ng-show="field===currentControl"
                                                         ng-mouseenter="setCurrentToolsControl(field)"
                                                         ng-mouseleave="setCurrentToolsControl(null)"
                                                         ng-animate="'fade'">

                                                        <div class="cell-tools-remove" ng-hide="form.datasource !== null">
                                                            <div class="iconBox"
                                                                 ng-click="deletePrompt = true"
                                                                 ng-mouseenter="setCurrentRemoveControl(field)"
                                                                 ng-mouseleave="setCurrentRemoveControl(null)">

                                                                <span ng-if="deletePrompt">
                                                                    Are you sure?
                                                                    <a href
                                                                       style="text-decoration: underline"
                                                                       ng-click="deleteField(fieldset, container, field)">Yes</a>
                                                                </span>

                                                                <i ng-if="!deletePrompt" class="icon icon-trash"></i>
                                                            </div>
                                                        </div>

                                                        <!-- move control -->
                                                        <div class="cell-tools-move">
                                                            <div class="iconBox"
                                                                 ng-mouseenter="setCurrentMoveControl(field)"
                                                                 ng-mouseleave="setCurrentMoveControl(null)">
                                                                <i class="icon icon-navigation"></i>
                                                            </div>
                                                        </div>

                                                        <!-- edit control settings -->
                                                        <div class="cell-tools-edit">
                                                            <div class="iconBox"
                                                                 ng-click="editField(field)">
                                                                <i class="icon icon-settings"></i>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="umb-forms-field-preview
                                                    usky-control-inner control-group"
                                                         ng-class="{last:$last,
                                                                hidelabel:field.$fieldType.hideLabel,
                                                                warnhighlight:currentRemoveControl == field,
                                                                infohighlight:currentMoveControl == field,
                                                                defaulthighlight: currentControl == field}">

                                                        <label ng-hide="field.$fieldType.hideLabel">

                                                            <textarea class="inline-editor field-name input-block-level"
                                                                      select-on-focus
                                                                      umb-forms-auto-focus
                                                                      umb-forms-auto-size
                                                                      umb-forms-focus-on="field.$focus"
                                                                      ng-model="field.caption"></textarea>

                                                            <textarea class="inline-editor field-tooltip input-block-level"
                                                                      placeholder="Add help text"
                                                                      select-on-focus
                                                                      umb-forms-auto-size
                                                                      ng-model="field.tooltip"></textarea>
                                                        </label>


                                                        <div>
                                                            <div ng-include="field.$fieldType.view"></div>
                                                        </div>

                                                    </div>


                                                    <!-- add stuff -->
                                                    <div class="cell-tools-add"
                                                         ng-show=" form.datasource === null && !currentToolsControl && field===currentControl"
                                                         ng-animate="'fade'">

                                                        <div class="iconBox">
                                                            <a href ng-click="addItemOverlay($event, field, fieldset, container, $index)">
                                                                <i class=" icon icon-add"></i>
                                                            </a>
                                                        </div>

                                                        <div ng-if="overlayMenu.show && overlayMenu.field === field"
                                                             ng-include="'/app_plugins/UmbracoForms/BackOffice/Form/dialogs/additem.html'"></div>
                                                    </div>

                                                </div>


                                                <div class="umb-forms-placeholder"
                                                     ng-show="container.fields.length === 0 && form.datasource === null">

                                                    <div class="help-text" style="margin-bottom: 15px">To start, click the <i class=" icon icon-add blue"></i> below and add your first field</div><br />

                                                    <div class="iconBox">
                                                        <a href ng-click="addItemOverlay($event, container, fieldset, container, -1)">
                                                            <i class=" icon icon-add"></i>
                                                        </a>
                                                    </div>

                                                    <div ng-if="overlayMenu.show && overlayMenu.field === container"
                                                         ng-include="'/app_plugins/UmbracoForms/BackOffice/Form/dialogs/additem.html'"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="umb-forms-buttons">
                    <span ng-show="form.pages.length > 1">
                        <a href class="btn" ng-click="gotoPageIndex(currentPageIndex-1)" ng-hide="onFirstPage">{{form.prevLabel}}</a>
                        <a href class="btn" ng-click="gotoPageIndex(currentPageIndex+1)" ng-hide="onLastPage">{{form.nextLabel}}</a>
                    </span>

                    <a class="btn" ng-show="onLastPage" ng-click="editForm(form, 'submission')">{{form.submitLabel}}</a>
                </div>

            </div>
        </div>
    </div>

</div>
