<form name="dataSourceForm"
      ng-controller="UmbracoForms.Editors.DataSource.EditController"
      ng-show="loaded && security.userSecurity.manageDataSources"
      ng-submit="save()"
      val-form-manager>
    <umb-panel>
        <umb-header>

            <div class="span7">
                <umb-content-name placeholder="@placeholders_entername"
                                  ng-model="dataSource.name" />
            </div>

            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <umb-options-menu ng-show="currentNode"
                                      current-node="currentNode"
                                      current-section="{{currentSection}}">
                    </umb-options-menu>
                </div>
            </div>
        </umb-header>

        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal" style="padding-bottom: 90px">
                <div class="umb-pane">



                    <umb-control-group label="Type" description="Select the type of data source">
                        <select ng-model="dataSource.formDataSourceTypeId" ng-options="type.id as type.name for type in types" ng-change="setType()">
                            <option value="">-- choose type --</option>
                        </select>
                    </umb-control-group>


                    <umb-control-group ng-repeat="setting in dataSource.$type.settings" label="{{setting.name}}" description="{{setting.description}}">
                        <div ng-include="setting.view"></div>
                    </umb-control-group>


                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                           
                        </div>
                       
                        <a ng-click="showWizard()" class="btn" ng-show="dataSource.valid">Create form</a>
                    </div>

                </div>
            </div>
        </div>

    </umb-panel>
</form>
