<div class="umb-el-wrap control-group">
    <label for="terratype_{{identifier}}_bingmapsv8_search_enable" class="control-label">
        <localize key="terratypeBingMapsV8ConfigSearch_typeLabel">Search:</localize>
        <small>
            <localize key="terratypeBingMapsV8ConfigSearch_typeDescription">Do you want to include a text box, to lookup locations</localize>
        </small>
    </label>
    <div class="controls">
        <select id="terratype_{{identifier}}_bingmapsv8_search_enable" ng-model="config().search.enable" ng-change="vm().provider.events.searchChange()" class="umb-editor" convert-to-number>
            <option value="0"><localize key="terratypeBingMapsV8ConfigSearch_typeDisable">Hide Search</localize></option>
            <option value="1"><localize key="terratypeBingMapsV8ConfigSearch_typeEnable">Enable Search</localize></option>
            <option value="2"><localize key="terratypeBingMapsV8ConfigSearch_typeAutocomplete">Enable Search with Autocomplete</localize></option>
        </select>
    </div>
</div>
