
<label ng-click="editField(field)" class="checkbox" ng-repeat="preValue in field.preValues">
    <input type="radio" tabindex="-1"/>{{preValue}} <br/>
</label>

<label class="checkbox" ng-repeat="preValue in field.$preValues">
    <input type="radio" tabindex="-1"/>{{preValue.value}} <br/>
</label>

<div ng-if="field.prevalueSourceId == null && field.removePrevalueEditor !== true || field.prevalueSourceId == '00000000-0000-0000-0000-000000000000' && field.removePrevalueEditor !== true">
    <umb-forms-inline-prevalue-editor ng-model="field.preValues" />
</div>
