<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="MyGetUmbracoNightly" value="https://www.myget.org/F/umbraconightly/api/v2" />
    <add key="UmbracoCoreMyGet" value="https://www.myget.org/F/umbracocore/api/v3/index.json" />
    <add key="FormsMyGet" value="https://www.myget.org/F/formsnightly/api/v3/index.json" />
    <add key="umbracoprereleases" value="https://www.myget.org/F/umbracoprereleases/api/v3/index.json" />
  </packageSources>
</configuration>